
header {
    background-color: #393c43;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    height: 10vh;
}

figure {
    height: 20vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkblue;
    text-align: center;
}

h1 {
    color: aliceblue;
    font-size: 48px;
}

h2 {
    display: flex;
    color: rgb(54, 101, 143);
    font-size: 48px;
}

nav ul {
    display: flex;
    margin-right: 30px;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

nav a {
    color: #70d5d7;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: middle;
}

nav a:hover {
    color: rgb(21, 96, 126);
}

figure {
    border: 1px solid blue;
    height: 20vh;

}

.section-title {
    flex-basis: 20%;
    border-right-color: aqua;
    border-right-width: 1px;
    border-style: solid;
}

.section-content {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;

}

.smaller-picture {
    flex-basis: 50%;
    border: 3px solid #70d5d7;
    height:20vh;
}

.links {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 500px;
    font-size: 40px;

}


#banner {
    height: 20vh;
    width: 100%;
    justify-content: space-between;
}

#aboutMe {
    border: 1px solid green;
    height: 30vh;
}

#contact {
    flex-basis: 100%;
    border: 1px solid black;
    height: 20vh;
}

#work {
    border: 1px solid orange;
    height: 60vh;
}

#aboutMe,
#work,
#contact {
    display: flex;
    flex-wrap: wrap;
}

#first-picture {
    flex-basis: 100%;
    border: 1px solid rgb(128, 0, 0);
    height: 105vh;
    background-image: url(./images/Digital\ Marketing.jpg);
    background-repeat: no-repeat;
}

