/* Semantic element styling */
header {
    background-color: #393c43;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    height: 10vh;
}

figure {
    height: 20vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkblue;
    text-align: center;
}

h1 {
    color: aliceblue;
    font-size: 48px;
}

h2 {
    display: flex;
    color: rgb(54, 101, 143);
    font-size: 60px;
}

nav ul {
    display: flex;
    margin-right: 30px;
    font-size: 30px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
}

nav ul li {
    display: inline-block;
    margin-left: 35px;

}

nav a {
    color: #70d5d7;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: middle;
}

nav a:hover {
    color: rgb(21, 96, 126);
}

figure {
    height: 20vh;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
/* hover effect for first picture and all other images on page */
img,.smaller-picture:hover {
    box-shadow: 0 0 3px 3px rgba(29, 129, 162, 0.5);
  }

/* div class for image in about me section */
.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* section styling for images and titles */
.section-title {
    flex-basis: calc(20% - 6px);
    border-right: 6px solid #393c43;
    height: 300px;
    padding-left: 30px;
}

.section-content {
    flex-basis: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.smaller-picture {
    flex-basis: 50%;
    height: 20vh;
}

/* Styling for links at bottom of page */
.links {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 500px;
    font-size: 30px;
}

/* Class styling for images and content */

#banner {
    height: 20vh;
    width: 100%;
    justify-content: space-between;
}

#aboutMe {
    padding-top: 50px;
}

#contact {
    flex-basis: 100%;
}

#aboutMe,
#work,
#contact {
    display: flex;
    flex-wrap: wrap;
}

#photo {
   
}

#first-picture {
    flex-basis: 100%;
    width:80%;
    height: 80vh;
    background-image:url(./images/Digital\ Marketing.jpg);
    background-repeat: no-repeat;
    display: block;
}

@media screen and (max-width: 900px) {
    .section-content {
        flex-basis: 50%;
}

}
