header {
    background-color: #4b5975;
    height: 10vh;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 48px;
}

nav ul {
    display: flex;
    margin-right: 30px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

}

nav ul li {
    display: inline-block;
    margin-left: 25px;

}

nav a {
    color: #269597;
    font-weight: bold;
    text-decoration: underline;
}

nav a:hover {
    color: rgb(21, 96, 126);
}

figure {
    border: 1px solid blue;
    height: 20vh;

}

.section-title {
    flex-basis: 20%;
    border-right-color: aqua;
    border-right-width: 1px;
    border-style: solid;
}

.section-content {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;

}

.smaller-picture {
    flex-basis: 50%;
    border: 1px solid purple;
    height: 30vh;
}


#aboutMe {
    border: 1px solid green;
    height: 30vh;

}

#contact {
    flex-basis: 100%;
    border: 1px solid black;
    height: 20vh;
}

#work {
    border: 1px solid orange;
    height: 60vh;
}

#aboutMe,
#work,
#contact {
    display: flex;
    flex-wrap: wrap;
}

#first-picture {
    flex-basis: 100%;
    border: 1px solid rgb(128, 0, 0);
    height: 60vh;
}